<h2 mat-dialog-title class="titulo">VINCULA PERFIL A SISTEMA-VISTAS</h2>

<div class="campos-dialog">
  <form [formGroup]="vincularPerfilSVForm" (ngSubmit)="vinculaPerfilASistemaVistas()">
    <div class="campos-estilo">
      <mat-form-field class="campo-perfil">
        <mat-label>Perfil</mat-label>
        <input matInput readonly="perfil" [value]="perfilSVVinculada.perfil">
      </mat-form-field>

      <mat-form-field class="campo-sistema">
        <mat-label> Seleccionar Sistema </mat-label>
        <mat-select formControlName="sistema">
          <mat-option *ngFor="let sistemaVinculado of sistemasActivosVinculados" [value]="sistemaVinculado.nombre">
            {{sistemaVinculado.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="vistasVinculadas.length > 0" class="vistas-container">
      <p class="indicaciones"> Selecciona las VISTAS que deseas Vincular al Perfil: </p>

      <div class="vistas-filas">
        <div class="vistas-columnas" *ngFor="let vista of vistasVinculadas; let i = index">
          <mat-checkbox [checked]="false" [value]="vista.vista" (change)="updateSelectedVistas($event, vista.vista)">
            {{ vista.vista }}
          </mat-checkbox>
        </div>
      </div>
    </div>

    <div class="centrar-botones">
      <button mat-button class="boton-acciones" type="button" (click)="cerrarDialog()">Cerrar</button>
      <button mat-button class="boton-acciones" type="submit">Guardar</button>
    </div>
  </form>
</div>
