<h2 mat-dialog-title class="titulo">VINCULA SISTEMA A PERFIL-USUARIOS</h2>

<div class="campos-dialog">
  <form [formGroup] = "vincularSistemaPUForm" (ngSubmit)="vincularSistemaAPerfilUsuarios()">
    <div class="campos-estilo">
      <mat-form-field class= "campo-sistema-perfil">
        <mat-label>Sistema</mat-label>
          <input matInput readonly= "sistema" [value] = "sistemaPUVinculada.nombre" >
      </mat-form-field>

      <mat-form-field class="campo-sistema-perfil">
        <mat-label> Selecciona el perfil  </mat-label>
        <mat-select formControlName="perfil" [(value)]="selectedPerfil" >
          <mat-option *ngFor="let perfil of perfilesActivosVinculados" [value]="perfil">
            {{perfil}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

      <div *ngIf=" noUsuarios && noUsuarios.length > 0">
        <p class="indicaciones"> Selecciona los USUARIOS que deseas Vincular al Sistema-Perfil: </p>

        <div class="vistas-filas">
          <div class="vistas-columnas" *ngFor="let usuario of noUsuarios; let i = index">
            <mat-checkbox [checked]="false" [value]="usuario.usuario" (change)="updateSelectedUsuasuarios($event, usuario.usuario)">
              {{ usuario.usuario}}
            </mat-checkbox>
          </div>
        </div>
    </div>

      <div class="centrar-botones">
        <button mat-button class="boton-acciones" type="button" (click)="cerrarDialog()">Cerrar</button>
        <button mat-button class="boton-acciones" type="submit">Guardar</button>
      </div>
  </form>
</div>

