<h2 mat-dialog-title class="titulo">CAMBIAR CONTRASEÑA</h2>

<div class="campos-dialog">
  <form [formGroup]="passwordForm" (ngSubmit)="cambiarPassword()">
    <fieldset class="campos-estilo">
      <mat-form-field class="campos-formulario">
        <mat-label>Usuario</mat-label>
        <input matInput title="Usuario Reset" disabled="usuario" [value]="usuarioPass.usuario.usuario">
      </mat-form-field>

      <mat-form-field class="campos-formulario" hintLabel="Maximo 10 Caracteres" style="color: #00468C;">
        <mat-label>Contraseña</mat-label>
        <input matInput #input title="Longitud de Pass" maxlength="10" formControlName="passwd" required (keydown)="preventSpace($event)" (input)="truncatePassword(); verificaCriterios()">
        <mat-hint align="end">{{input.value.length}}/10</mat-hint>
      </mat-form-field>

      &nbsp;
      <div [ngStyle]="{'color': isCriteriaMet(hasLowercase) ? 'green' : 'red', 'font-weight': isCriteriaMet(hasLowercase) ? 'bold' : 'normal'}">
        Al menos una letra minúscula: {{isCriteriaMet(hasLowercase) ? '✔' : '✘'}}
      </div>

      <div [ngStyle]="{'color': isCriteriaMet(hasUppercase) ? 'green' : 'red', 'font-weight': isCriteriaMet(hasUppercase) ? 'bold' : 'normal'}">
        Al menos una letra mayúscula: {{isCriteriaMet(hasUppercase) ? '✔' : '✘'}}
      </div>

      <div [ngStyle]="{'color': isCriteriaMet(hasDigit) ? 'green' : 'red', 'font-weight': isCriteriaMet(hasDigit) ? 'bold' : 'normal'}">
        Al menos un número: {{isCriteriaMet(hasDigit) ? '✔' : '✘'}}
      </div>

      <div [ngStyle]="{'color': isCriteriaMet(hasSymbol) ? 'green' : 'red', 'font-weight': isCriteriaMet(hasSymbol) ? 'bold' : 'normal'}">
        Al menos un símbolo: {{isCriteriaMet(hasSymbol) ? '✔' : '✘'}}
      </div>

      <div class="centrar-botones">
        <button mat-button class="boton-acciones" type="button" (click)="cerrarDialog()">Cerrar</button>
        <button mat-button class="boton-acciones" type="submit">Guardar</button>
      </div>
    </fieldset>
  </form>
</div>


