<h2 mat-dialog-title class="titulo">DETALLES DE PERFILES</h2>

  <div class="campos-dialog">
    <div class="campos-estilo">
      <mat-form-field class= "campo-perfil-sistema">
        <mat-label>Perfil</mat-label>
            <input matInput readonly = "perfil" [value] = "detallesPerfilSistemaVistas.perfil" >
      </mat-form-field>

        <mat-form-field class="campo-perfil-sistema">
          <mat-label> Seleccionar Sistema </mat-label>
            <mat-select  [(value)]="selectedSistema" (selectionChange)="buscarVistas()">
              <mat-option *ngFor="let sistemaVinculado of sistemasActivosVinculados" [value]="sistemaVinculado.nombre">
                {{sistemaVinculado.nombre}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>

      <div class="div-tabla-detalles">
        <table mat-table class="tabla-detalles" [dataSource]="dataSourceDetalles">
          <!--  Columna Vista -->
          <ng-container matColumnDef="Vista">
            <th mat-header-cell *matHeaderCellDef class="encabezados-detalles" > VISTA </th>
            <td mat-cell *matCellDef="let vistas" class="resultados-detalles"> {{vistas.vista}} </td>
          </ng-container>
            <!-- Columna Status-->
            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef class="encabezados-detalles"> STATUS </th>
              <td mat-cell *matCellDef="let vistas">
                <div class="status"  [ngClass]="vistas.statuss.toLowerCase()">
                  {{vistas.statuss | uppercase}}
                </div>
              </td>
            </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsDetalles" class="encabezados-detalles"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsDetalles;" class="fila-hover"></tr>
        </table>
        <mat-paginator #paginacionDetalles class="diseño-paginator" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons> </mat-paginator>
      </div>
  </div>







